Łukasz Gałuszewski 247660
Szymon Giergiel 247663
Przetwarzanie dużych zbiorów danych - poziom 1

In [490]:
import os
import pandas as pd
from google.cloud import bigquery

In [491]:
os.environ[
    "GOOGLE_APPLICATION_CREDENTIALS"] = "..."
client = bigquery.Client()

In [492]:
query = ('select * from bigquery-public-data.covid19_open_data.covid19_open_data limit 10')
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()

In [493]:
df.dtypes

location_key                                     object
date                                             dbdate
place_id                                         object
wikidata_id                                      object
datacommons_id                                   object
                                                  ...
new_persons_fully_vaccinated_janssen              Int64
cumulative_persons_fully_vaccinated_janssen       Int64
new_vaccine_doses_administered_janssen            Int64
cumulative_vaccine_doses_administered_janssen     Int64
location_geometry                                object
Length: 701, dtype: object

In [494]:
query = ('select count(*) as LiczbaWierszy '
         'from bigquery-public-data.covid19_open_data.covid19_open_data'
          )
client.query(query).result().to_dataframe()

   LiczbaWierszy
0       22756333

In [495]:
query = ('select count(distinct country_name) as LiczbaKrajow from `bigquery-public-data.covid19_open_data.covid19_open_data` where aggregation_level = 0'
          )
client.query(query).result().to_dataframe()

   LiczbaKrajow
0           246

In [496]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-17

In [497]:
query = ('SELECT column_name, data_type FROM `bigquery-public-data.covid19_open_data.INFORMATION_SCHEMA.COLUMNS` WHERE table_name = "covid19_open_data"')
client.query(query).result().to_dataframe()

                                       column_name  data_type
0                                     location_key     STRING
1                                             date       DATE
2                                         place_id     STRING
3                                      wikidata_id     STRING
4                                   datacommons_id     STRING
..                                             ...        ...
696           new_persons_fully_vaccinated_janssen      INT64
697    cumulative_persons_fully_vaccinated_janssen      INT64
698         new_vaccine_doses_administered_janssen      INT64
699  cumulative_vaccine_doses_administered_janssen      INT64
700                              location_geometry  GEOGRAPHY

[701 rows x 2 columns]

In [498]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` order by date asc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2020-01-01

In [499]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_confirmed > 0 order by date asc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2020-01-01

In [500]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_confirmed > 0 order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-15

In [501]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased > 0 order by date asc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2020-01-02

In [502]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased > 0 order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-15

In [503]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_persons_vaccinated > 0 order by date asc limit 1')

client.query(query).result().to_dataframe()

         date
0  2020-12-07

In [504]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_persons_vaccinated > 0 order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-14

In [505]:
query = ('SELECT count(new_deceased) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased < 0'
          )
client.query(query).result().to_dataframe()

     f0_
0  27586

In [506]:
query = ('SELECT COUNT(new_confirmed) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_confirmed < 0'
          )
client.query(query).result().to_dataframe()

      f0_
0  102199

In [507]:
query = ('SELECT count(distinct aggregation_level) FROM `bigquery-public-data.covid19_open_data.covid19_open_data`')
client.query(query).result().to_dataframe()

   f0_
0    4

In [508]:
query = ('SELECT MIN(new_confirmed) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data` UNION ALL SELECT MAX(new_confirmed) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data`;')
client.query(query).result().to_dataframe()

    max_min
0   5047094
1  -5045418

In [509]:
query = ('SELECT MIN(new_deceased) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data` UNION ALL SELECT MAX(new_deceased) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data`;')
client.query(query).result().to_dataframe()

   max_min
0    63830
1   -63811

In [510]:
query = ('SELECT MIN(new_persons_vaccinated) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data` UNION ALL SELECT MAX(new_persons_vaccinated) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data`;')
client.query(query).result().to_dataframe()

     max_min
0  450500000
1   -9410506

In [511]:
query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 0')
client.query(query).result().to_dataframe()

   f0_
0   50

In [512]:
query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 1')
client.query(query).result().to_dataframe()

   f0_
0  599

In [513]:
query = ('SELECT COUNT(new_deceased) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased < 0')
client.query(query).result().to_dataframe()

     f0_
0  27586

In [514]:
query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 3')
client.query(query).result().to_dataframe()

   f0_
0    1

Część 4

In [515]:
# 4.1
query = 'select distinct iso_3166_1_alpha_3, country_name , population, population_density, area_sq_km, gdp_usd from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null'
df_4_1 = client.query(query).result().to_dataframe()
df_4_1.dropna(subset=['population', 'iso_3166_1_alpha_3'], inplace=True)

columns_to_convert = ['iso_3166_1_alpha_3', 'country_name']
df_4_1[columns_to_convert] = df_4_1[columns_to_convert].astype("string")
df_4_1['population'] = pd.to_numeric(df_4_1['population'], errors='coerce')
df_4_1['area_sq_km'] = pd.to_numeric(df_4_1['area_sq_km'], errors='coerce')
df_4_1['population_density'] = pd.to_numeric(df_4_1['population_density'], errors='coerce')
df_4_1['gdp_usd'] = pd.to_numeric(df_4_1['gdp_usd'], errors='coerce')
cols_to_0 = [ 'population_density', 'gdp_usd']
df_4_1[cols_to_0] = df_4_1[cols_to_0].fillna(0)

df_4_1.to_csv('results/general_covid19_4_1.csv', index=False)

In [516]:
# 4.2
query = 'select date, country_name, new_confirmed, cumulative_confirmed,  from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null'
df_4_2 = client.query(query).result().to_dataframe()

df_4_2['date'] = pd.to_datetime(df_4_2['date'], errors='coerce')
df_4_2.dropna(subset=['date'], inplace=True)
cols_to_int = ['cumulative_confirmed', 'new_confirmed']
df_4_2[cols_to_int] = df_4_2[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
columns_to_check = ['new_confirmed', 'cumulative_confirmed']
df_4_2.dropna(subset=columns_to_check, how='all', inplace=True)
df_4_2[cols_to_int] = df_4_2[cols_to_int].fillna(0)
df_4_2.to_csv('results/confirmed_covid_4_2.csv', index=False)

In [517]:
# 4.3
query = 'select date, country_name, population , new_deceased, cumulative_deceased from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null'
df_4_3 = client.query(query).result().to_dataframe()
df_4_3.dropna(subset=['date'], inplace=True)

columns_to_check = ['new_deceased', 'cumulative_deceased']
df_4_3.dropna(subset=columns_to_check, how='all', inplace=True)

df_4_3['date'] = pd.to_datetime(df_4_3['date'], errors='coerce')
cols_to_int = ['cumulative_deceased', 'new_deceased']
df_4_3[cols_to_int] = df_4_3[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
df_4_3 = df_4_3.fillna(0)
df_4_3.to_csv('results/deceased_covid_4_3.csv', index=False)

In [518]:
import numpy as np

#4.4
query = 'select date, country_name, cumulative_persons_vaccinated, new_persons_vaccinated, cumulative_persons_fully_vaccinated, new_persons_fully_vaccinated, population from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null'
df_4_4 = client.query(query).result().to_dataframe()
df_4_4.dropna(subset=['date'], inplace=True)

df_4_4['date'] = pd.to_datetime(df_4_4['date'], errors='coerce')
cols_to_int = ['cumulative_persons_vaccinated', 'new_persons_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_persons_fully_vaccinated']
df_4_4[cols_to_int] = df_4_4[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
df_4_4[cols_to_int] = df_4_4[cols_to_int].fillna(0)
df_4_4["vaccination_rate"] = np.where(
    (df_4_4['cumulative_persons_fully_vaccinated'] == 0) & (df_4_4['population'] == 0),
    0,
    (df_4_4['cumulative_persons_fully_vaccinated'] / df_4_4['population']) * 100
)
df_4_4.to_csv('results/vaccination_covid_4_4.csv', index=False)

In [519]:
# 4.5
query = 'select date, country_name, population, population_density, cumulative_deceased from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null'
df_4_5 = client.query(query).result().to_dataframe()
df_4_5['date'] = pd.to_datetime(df_4_5['date'], errors='coerce')
cols_to_int = ['cumulative_deceased', 'population']
df_4_5[cols_to_int] = df_4_5[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
df_4_5[cols_to_int] = df_4_5[cols_to_int].fillna(0)
df_4_5['population_density'] = df_4_5['population_density'].fillna(0).astype(float)

df_4_5["fatality_rate"] = np.where(
    (df_4_5['cumulative_deceased'] == 0) & (df_4_5['population'] == 0),
    0,
    (df_4_5['cumulative_deceased'] / df_4_5['population']) * 100
)
df_4_5.to_csv('results/density_covid_4_5.csv', index=False)

Część 5

In [520]:
df_5_1 = df_4_2.merge(df_4_3, on=['country_name', 'date'], how='outer')
df_5_1 = df_5_1.merge(df_4_4, on=['country_name', 'date'], how='outer')
df_5_1 = df_5_1.merge(df_4_5, on=['country_name', 'date'], how='outer')

In [521]:
temp = df_5_1[df_5_1['new_confirmed'].isna()]
top_12_names = temp['country_name'].value_counts().head(12).index.tolist()
top_12_names.append('British Indian Ocean Territory')

In [522]:
df_5_1 = df_5_1[~df_5_1['country_name'].isin(top_12_names)]
df_5_1['cumulative_deceased'] = df_5_1['cumulative_deceased_y']
df_5_1 = df_5_1.drop(columns=['population_x', 'population_y','cumulative_deceased_x', 'cumulative_deceased_y'])
df_5_1['new_confirmed'] = df_5_1['new_confirmed'].fillna(0)
df_5_1['new_deceased'] = df_5_1['new_deceased'].fillna(0)
df_5_1['cumulative_confirmed'] = df_5_1['cumulative_confirmed'].fillna(0)
df_5_1.to_csv('results/covid_5_1.csv', index=False)

In [523]:
df_5_2 = df_4_1[~df_4_1['country_name'].isin(top_12_names)]
df_5_2 = df_5_2.rename(columns={'iso_3166_1_alpha_3': 'country_code'})
df_5_2.to_csv('results/covid_5_2.csv', index=False)

Część 6

In [524]:
gdp = pd.read_csv('gdp.csv')
world_countries = pd.read_csv('world_countries.csv')

In [525]:
world_countries = world_countries.rename(columns={'CCA3': 'country_code'})
gdp = gdp.rename(columns={'Country Code': 'country_code'})
gdp = gdp.drop_duplicates(subset = ['Country Name', 'Year'])
world_countries = world_countries.drop_duplicates(subset = ['Country/Territory'])

In [526]:
df_6_1 = df_5_2.merge(world_countries, on=['country_code'], how='right')

In [527]:
df_6_1

,country_code,country_name,population,population_density,area_sq_km,gdp_usd,Rank,Country/Territory,Capital,Continent,...,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,AFG,Afghanistan,38928341,59.627,652860,19101353832,36,Afghanistan,Kabul,Asia,...,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,ALB,Albania,2862427,99.600,28750,15278077446,138,Albania,Tirana,Europe,...,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,DZA,Algeria,43851043,18.411,2381740,169988236398,34,Algeria,Algiers,Africa,...,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,ASM,American Samoa,55197,275.985,200,636000000,213,American Samoa,Pago Pago,Oceania,...,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,AND,Andorra,77265,164.394,470,3154057987,203,Andorra,Andorra la Vella,Europe,...,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,WLF,Wallis and Futuna,11246,80.329,274,0,226,Wallis and Futuna,Mata-Utu,Oceania,...,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,ESH,<NA>,<NA>,NaN,<NA>,<NA>,172,Western Sahara,El Aaiún,Africa,...,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,YEM,Yemen,29825968,56.492,527970,27591261663,46,Yemen,Sanaa,Asia,...,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,ZMB,Zambia,18383956,24.730,752610,23064722446,63,Zambia,Lusaka,Africa,...,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,ZWE,Zimbabwe,14862927,38.420,390760,21440758800,74,Zimbabwe,Harare,Africa,...,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [528]:
df_6_1['area_sq_km'].fillna(df_6_1['Area (km²)'], inplace=True)
df_6_1['country_name'].fillna(df_6_1['Country/Territory'], inplace=True)
df_6_1['population'].fillna(df_6_1['2022 Population'], inplace=True)
df_6_1['population_density'].fillna(df_6_1['Density (per km²)'], inplace=True)
df_6_1['gdp_usd'] = df_6_1['gdp_usd'].fillna(0)
df_6_1['Rank'] = df_6_1['population'].rank(ascending=False, method='min').astype(int)
df_6_1 = df_6_1.rename(columns={'population': 'current_population'})
df_6_1 = df_6_1.rename(columns={'gdp_usd': 'current_gdp_usd'})
df_6_1 = df_6_1.drop(columns=['Area (km²)', 'Country/Territory', '2022 Population', 'Density (per km²)'])
df_6_1.to_csv('results/world_covid_6_1.csv', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_17448\39447653.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_6_1['area_sq_km'].fillna(df_6_1['Area (km²)'], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_17448\39447653.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_6_1['country_name'].fillna(df_6_1['Country/Territory'], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_17448\39447653.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_6_1['population'].fillna(df_6_1['2022 Population'], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_17448\39447653.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_6_1['population_density'].fillna(df_6_1['Density (per km²)'], inplace=True)

In [529]:
df_6_2 = df_6_1.merge(gdp, on=['country_code'], how='left')
df_6_2['current_gdp_usd'].fillna(0, inplace=True)
df_6_2 = df_6_2.drop(columns=['Country Name'])
df_6_2 = df_6_2.dropna(subset=['Value'])
df_6_2['Year'] = df_6_2['Year'].astype(int)

df_6_2.to_csv('results/gdp_covid_6_2.csv', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_17448\2396596109.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_6_2['current_gdp_usd'].fillna(0, inplace=True)

Część 7

In [530]:
mobility = pd.read_csv('Global_Mobility_Report.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_17448\3416392425.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  mobility = pd.read_csv('Global_Mobility_Report.csv')

In [531]:
mobility = mobility[mobility['sub_region_1'].isna()]
mobility = mobility.drop(columns=['sub_region_1','sub_region_2','iso_3166_2_code','census_fips_code','place_id','metro_area', 'country_region'])
mobility['date'] = pd.to_datetime(mobility['date'], errors='coerce')

In [532]:
query = 'select distinct country_name, iso_3166_1_alpha_2, iso_3166_1_alpha_3  from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null'
country_2l = client.query(query).result().to_dataframe()

In [533]:
df_7_1 = df_5_1.merge(country_2l, on=['country_name'], how='left')
df_7_1 = df_7_1.rename(columns={'iso_3166_1_alpha_2': 'country_region_code'})
df_7_1 = df_7_1.merge(mobility,on =['country_region_code', 'date'], how='inner')
df_7_1 = df_7_1.drop(columns=['country_region_code'])
df_7_1 = df_7_1.drop_duplicates(subset = ['country_name', 'date'])

In [534]:
columns_to_fill = ['retail_and_recreation_percent_change_from_baseline', 'grocery_and_pharmacy_percent_change_from_baseline', 'parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline', 'workplaces_percent_change_from_baseline', 'residential_percent_change_from_baseline']
df_7_1[columns_to_fill] = df_7_1[columns_to_fill].fillna(0)
df_7_1.to_csv('results/mobility_covid_7_1.csv', index=False)

In [535]:
df_7_2  = pd.read_csv('unempl.csv')
df_7_2 = df_7_2[['REF_AREA','Reference area','TIME_PERIOD','OBS_VALUE']]
df_7_2['TIME_PERIOD'] = pd.to_datetime(df_7_2['TIME_PERIOD'], errors='coerce')
temp = df_5_1.merge(country_2l, on=['country_name'], how='left')
temp = temp.rename(columns={'iso_3166_1_alpha_3': 'country_region_code'})
df_7_2 = df_7_2.rename(columns={'TIME_PERIOD': 'date', 'REF_AREA': 'country_region_code'})

In [536]:
df_7_2['year_month'] = df_7_2['date'].dt.to_period('M')
temp['year_month'] = temp['date'].dt.to_period('M')

max_date = temp['date'].max()
df_7_2 = df_7_2[df_7_2['date'] <= max_date]

In [537]:
df_7_2 = df_7_2.drop(columns=['date'])
df_7_2 = df_7_2.merge(temp,on=['year_month', 'country_region_code'], how='inner')
df_7_2.drop(columns=['year_month', 'Reference area'], inplace=True)
df_7_2.to_csv('results/unemployment_covid_7_2.csv', index=False)

In [538]:
df_7_3 = pd.read_csv('global_electricity_production_data.csv')

In [539]:
df_7_3 = df_7_3.drop(columns=['parameter','product','unit'])
df_7_3 = df_7_3.rename(columns={'value': 'value (GWh)'})
df_7_3['date'] = pd.to_datetime(df_7_3['date'], errors='coerce')

In [540]:
temp = df_5_1.merge(country_2l, on=['country_name'], how='left')
df_7_3['year_month'] = df_7_3['date'].dt.to_period('M')
temp['year_month'] = temp['date'].dt.to_period('M')

max_date = temp['date'].max()
min_date = temp['date'].min()
df_7_3 = df_7_3[df_7_3['date'] >= min_date]
df_7_3 = df_7_3[df_7_3['date'] <= max_date]

In [541]:
df_7_3 = df_7_3.drop(columns=['date'])
df_7_3 = df_7_3.merge(temp,on=['year_month', 'country_name'], how='inner')
df_7_3.drop(columns=['year_month', 'iso_3166_1_alpha_2'], inplace=True)
df_7_3 = df_7_3.drop_duplicates(subset = ['country_name', 'date'])

df_7_3.to_csv('results/electricity_covid_7_3.csv', index=False)

Wariant 2

In [542]:
df_7_1_2 = pd.read_csv('children-per-woman-un.csv')
df_7_1_2 = df_7_1_2.dropna()
df_7_1_2 = df_7_1_2.drop_duplicates(subset=['Code', 'Year'])
df_7_1_2 = df_7_1_2[(df_7_1_2['Year'] >= 1960) & (df_7_1_2['Year'] <= 2022)]

df_7_2_2 = pd.read_csv('per-capita-energy-use.csv')
df_7_2_2 = df_7_2_2.dropna()
df_7_2_2 = df_7_2_2.drop_duplicates(subset=['Code', 'Year'])
df_7_2_2 = df_7_2_2[(df_7_2_2['Year'] >= 1960) & (df_7_2_2['Year'] <= 2022)]

df_7_3_2 = pd.read_csv('inflation-of-consumer-prices.csv')
df_7_3_2 = df_7_3_2.dropna()
df_7_3_2 = df_7_3_2.drop_duplicates(subset=['Code', 'Year'])
df_7_3_2 = df_7_3_2[(df_7_3_2['Year'] >= 1960) & (df_7_3_2['Year'] <= 2022)]

In [543]:
df_7_4_2 = df_7_1_2.merge(df_7_2_2, on=['Code', 'Year'], how='left')
df_7_4_2 = df_7_4_2.merge(df_7_3_2, on=['Code', 'Year'], how='left')
df_7_4_2 = df_7_4_2.drop(columns=['Entity', 'Entity_y'])
df_7_4_2 = df_7_4_2.rename(columns={'Entity_x': 'Entity', 'Code': 'country_code'})
df_7_4_2 = df_7_4_2.fillna(0)
df_7_4_2.to_csv('results/inflation_energy_children.csv', index=False)

In [544]:
df_7_5_2 = df_6_2.merge(df_7_4_2, on=['country_code', 'Year'], how='left')
df_7_5_2 = df_7_5_2.drop(columns=['Entity'])
df_7_5_2.to_csv('results/combined_7_5_2.csv', index=False)

In [545]:
df_7_6_2 = df_6_1.merge(df_7_4_2, on=['country_code'], how='inner')
df_7_6_2 = df_7_6_2.drop(columns=['Entity'])
df_7_6_2.to_csv('results/combined_7_6_2.csv', index=False)