In [32]:
import os
import pandas as pd
from google.cloud import bigquery

In [2]:
os.environ[
    "GOOGLE_APPLICATION_CREDENTIALS"] = "chromatic-tree-453017-n1-b301cea342ed.json"
client = bigquery.Client()

In [3]:
query = ('select * from bigquery-public-data.covid19_open_data.covid19_open_data limit 10')
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()

In [4]:
df.dtypes

location_key                                     object
date                                             dbdate
place_id                                         object
wikidata_id                                      object
datacommons_id                                   object
                                                  ...
new_persons_fully_vaccinated_janssen              Int64
cumulative_persons_fully_vaccinated_janssen       Int64
new_vaccine_doses_administered_janssen            Int64
cumulative_vaccine_doses_administered_janssen     Int64
location_geometry                                object
Length: 701, dtype: object

In [13]:
query = ('select count(*) as LiczbaWierszy '
         'from bigquery-public-data.covid19_open_data.covid19_open_data'
          )
client.query(query).result().to_dataframe()

   LiczbaWierszy
0       22756333

In [13]:
query = ('select count(distinct country_name) as LiczbaKrajow from `bigquery-public-data.covid19_open_data.covid19_open_data` where aggregation_level = 0'
          )
client.query(query).result().to_dataframe()

   LiczbaKrajow
0           246

In [19]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-17

In [28]:
query = ('SELECT column_name, data_type FROM `bigquery-public-data.covid19_open_data.INFORMATION_SCHEMA.COLUMNS` WHERE table_name = "covid19_open_data"')
client.query(query).result().to_dataframe()

                                       column_name  data_type
0                                     location_key     STRING
1                                             date       DATE
2                                         place_id     STRING
3                                      wikidata_id     STRING
4                                   datacommons_id     STRING
..                                             ...        ...
696           new_persons_fully_vaccinated_janssen      INT64
697    cumulative_persons_fully_vaccinated_janssen      INT64
698         new_vaccine_doses_administered_janssen      INT64
699  cumulative_vaccine_doses_administered_janssen      INT64
700                              location_geometry  GEOGRAPHY

[701 rows x 2 columns]

In [24]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` order by date asc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2020-01-01

In [25]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_confirmed > 0 order by date asc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2020-01-01

In [26]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_confirmed > 0 order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-15

In [27]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased > 0 order by date asc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2020-01-02

In [28]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased > 0 order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-15

In [29]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_persons_vaccinated > 0 order by date asc limit 1')

client.query(query).result().to_dataframe()

         date
0  2020-12-07

In [30]:
query = ('SELECT date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_persons_vaccinated > 0 order by date desc limit 1'
          )
client.query(query).result().to_dataframe()

         date
0  2022-09-14

In [14]:
query = ('SELECT count(new_deceased) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased < 0'
          )
client.query(query).result().to_dataframe()

     f0_
0  27586

In [15]:
query = ('SELECT COUNT(new_confirmed) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_confirmed < 0'
          )
client.query(query).result().to_dataframe()

      f0_
0  102199

In [16]:
query = ('SELECT count(distinct aggregation_level) FROM `bigquery-public-data.covid19_open_data.covid19_open_data`')
client.query(query).result().to_dataframe()

   f0_
0    4

In [18]:
query = ('SELECT MIN(new_confirmed) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data` UNION ALL SELECT MAX(new_confirmed) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data`;')
client.query(query).result().to_dataframe()

    max_min
0   5047094
1  -5045418

In [19]:
query = ('SELECT MIN(new_deceased) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data` UNION ALL SELECT MAX(new_deceased) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data`;')
client.query(query).result().to_dataframe()

   max_min
0    63830
1   -63811

In [22]:
query = ('SELECT MIN(new_persons_vaccinated) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data` UNION ALL SELECT MAX(new_persons_vaccinated) AS max_min FROM `bigquery-public-data.covid19_open_data.covid19_open_data`;')
client.query(query).result().to_dataframe()

     max_min
0  450500000
1   -9410506

In [9]:
query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 0')
client.query(query).result().to_dataframe()

   f0_
0   50

In [10]:
query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 1')
client.query(query).result().to_dataframe()

   f0_
0  599

In [14]:
# query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 2')

query = ('SELECT COUNT(new_deceased) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_deceased < 0')
client.query(query).result().to_dataframe()

     f0_
0  27586

In [12]:
query = ('SELECT count(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` where new_recovered < 0 and  aggregation_level = 3')
client.query(query).result().to_dataframe()

   f0_
0    1

Pora na część czwartą.

In [71]:

# 4.1
query = ('select distinct iso_3166_1_alpha_3, country_name , population, population_density, area_sq_km, gdp_usd from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null')
df_4_1 = client.query(query).result().to_dataframe()
df_4_1.dropna(subset=['population', 'iso_3166_1_alpha_3'], inplace=True)

columns_to_convert = ['iso_3166_1_alpha_3', 'country_name']
df_4_1[columns_to_convert] = df_4_1[columns_to_convert].astype("string")
df_4_1['population'] = pd.to_numeric(df_4_1['population'], errors='coerce')
df_4_1['area_sq_km'] = pd.to_numeric(df_4_1['area_sq_km'], errors='coerce')
df_4_1['population_density'] = pd.to_numeric(df_4_1['population_density'], errors='coerce')
df_4_1['gdp_usd'] = pd.to_numeric(df_4_1['gdp_usd'], errors='coerce')
cols_to_0 = [ 'population_density', 'gdp_usd']
df_4_1[cols_to_0] = df_4_1[cols_to_0].fillna(0)

df_4_1.to_csv('general_covid19_4_1.csv', index=False)

,iso_3166_1_alpha_3,country_name,population,population_density,area_sq_km,gdp_usd
0,ABW,Aruba,106766,593.144,180,3056424581
1,BDI,Burundi,11890781,463.037,27830,3012334881
2,CPV,Cape Verde,555988,137.962,4030,1981845740
3,ESH,Western Sahara,597330,2.246,266000,0
4,ERI,Eritrea,3546427,35.113,117600,0
...,...,...,...,...,...,...
238,SRB,Serbia,6963764,91.000,88360,51409167350
239,RUS,Russia,145934460,8.911,17098250,1699876578871
240,SYC,Seychelles,98340,213.783,460,1698843062
241,TUV,Tuvalu,11792,393.067,30,47271463
242,VGB,British Virgin Islands,30237,201.580,150,0

In [66]:

#4.2
query = ('select date, country_name, new_confirmed, cumulative_confirmed, new_tested from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null')
df_4_2 = client.query(query).result().to_dataframe()

df_4_2['date'] = pd.to_datetime(df_4_2['date'], errors='coerce')
df_4_2.dropna(subset=['date'], inplace=True)
cols_to_int = ['cumulative_confirmed', 'new_confirmed', 'new_tested']
df_4_2[cols_to_int] = df_4_2[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
columns_to_check = ['new_confirmed', 'cumulative_confirmed', 'new_tested']
df_4_2.dropna(subset=columns_to_check, how='all', inplace=True)
df_4_2[cols_to_int] = df_4_2[cols_to_int].fillna(0)
df_4_2.to_csv('tested_covid_4_2.csv', index=False)

,date,country_name,new_confirmed,cumulative_confirmed,new_tested
0,2020-03-28,Argentina,69,886,405
1,2021-06-25,Argentina,23741,4458639,70394
2,2020-11-06,Argentina,11836,1268566,28994
3,2020-08-01,Brazil,45392,2707877,67549
4,2021-04-12,Brazil,35785,13517808,194412
...,...,...,...,...,...
241799,2020-12-04,Zimbabwe,70,10617,1577
241800,2021-06-21,Zimbabwe,519,42714,6523
241801,2020-12-10,Zimbabwe,81,11162,1444
241802,2020-10-30,Zimbabwe,5,8367,681
241803,2020-01-30,Zimbabwe,0,1,0

In [64]:

#4.3
query = ('select date, country_name, population , new_deceased, cumulative_deceased from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null')
df_4_3 = client.query(query).result().to_dataframe()
df_4_3.dropna(subset=['date'], inplace=True)

columns_to_check = ['new_deceased', 'cumulative_deceased']
df_4_3.dropna(subset=columns_to_check, how='all', inplace=True)
columns_to_check = ['new_deceased']
df_4_3.dropna(subset=columns_to_check, how='all', inplace=True)
columns_to_check = ['cumulative_deceased']
df_4_3.dropna(subset=columns_to_check, how='all', inplace=True)

df_4_3['date'] = pd.to_datetime(df_4_3['date'], errors='coerce')
cols_to_int = ['cumulative_deceased', 'new_deceased']
df_4_3[cols_to_int] = df_4_3[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

df_4_3.to_csv('deceased_covid19_4_3.csv', index=False)

,date,country_name,population,new_deceased,cumulative_deceased
0,2022-04-21,Romania,19414458,19,65403
1,2021-01-16,Romania,19414458,66,17164
2,2022-03-06,Romania,19414458,30,63961
3,2022-06-01,Romania,19414458,1,65685
4,2020-11-27,Romania,19414458,172,10884
...,...,...,...,...,...
241799,2020-08-18,United States of America,331002647,937,155375
241800,2020-05-14,United States of America,331002647,1836,67581
241801,2021-12-24,United States of America,331002647,1355,781091
241802,2020-11-25,United States of America,331002647,2290,247129
241803,2020-06-03,United States of America,331002647,978,87437

In [67]:
import numpy as np

#4.4
query = ('select date, country_name, cumulative_persons_vaccinated, new_persons_vaccinated, cumulative_persons_fully_vaccinated, new_persons_fully_vaccinated, population from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null')
df_4_4 = client.query(query).result().to_dataframe()
df_4_4.dropna(subset=['date'], inplace=True)

df_4_4['date'] = pd.to_datetime(df_4_4['date'], errors='coerce')
cols_to_int = ['cumulative_persons_vaccinated', 'new_persons_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_persons_fully_vaccinated']
df_4_4[cols_to_int] = df_4_4[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
df_4_4[cols_to_int] = df_4_4[cols_to_int].fillna(0)
df_4_4["vaccination_rate"] = np.where(
    (df_4_4['cumulative_persons_fully_vaccinated'] == 0) & (df_4_4['population'] == 0),
    0,
    (df_4_4['cumulative_persons_fully_vaccinated'] / df_4_4['population']) * 100
)
df_4_4.to_csv('vaccination_covid19_4_4.csv', index=False)

,date,country_name,cumulative_persons_vaccinated,new_persons_vaccinated,cumulative_persons_fully_vaccinated,new_persons_fully_vaccinated,population,vaccination_rate
0,2020-12-29,Argentina,8793,8793,3,3,44938712,0.000007
1,2021-08-15,Argentina,11718501,13038,4718337,57925,44938712,10.499493
2,2020-12-11,Argentina,0,0,0,0,44938712,0.000000
3,2020-08-04,Argentina,0,0,0,0,44938712,0.000000
4,2020-06-22,Argentina,0,0,0,0,44938712,0.000000
...,...,...,...,...,...,...,...,...
240808,2022-02-17,Romania,0,0,8034384,3100,19414458,41.383509
240809,2021-01-16,Romania,196567,12421,0,0,19414458,0.000000
240810,2020-08-26,Romania,0,0,0,0,19414458,0.000000
240811,2020-11-10,Romania,0,0,0,0,19414458,0.000000
240812,2020-05-16,Romania,0,0,0,0,19414458,0.000000

In [62]:

#4.5
query = ('select date, country_name, population, population_density, cumulative_deceased from bigquery-public-data.covid19_open_data.covid19_open_data where aggregation_level = 0 and population is not null and iso_3166_1_alpha_3 is not null and area_sq_km is not null')
df_4_5 = client.query(query).result().to_dataframe()
df_4_5['date'] = pd.to_datetime(df_4_5['date'], errors='coerce')
cols_to_int = ['cumulative_deceased', 'population']
df_4_5[cols_to_int] = df_4_5[cols_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')
df_4_5[cols_to_int] = df_4_5[cols_to_int].fillna(0)
df_4_5['population_density'] = df_4_5['population_density'].fillna(0).astype(float)

df_4_5["fatality_rate"] = np.where(
    (df_4_5['cumulative_deceased'] == 0) & (df_4_5['population'] == 0),
    0,
    (df_4_5['cumulative_deceased'] / df_4_5['population']) * 100
)
df_4_5.to_csv('density_covid_4_5.csv', index=False)

zad 5

In [144]:
df_5_1 = df_4_2.merge(df_4_3, on=['country_name', 'date'], how='outer')
df_5_1 = df_5_1.merge(df_4_4, on=['country_name', 'date'], how='outer')
df_5_1 = df_5_1.merge(df_4_5, on=['country_name', 'date'], how='outer')

In [137]:
df_5_1

,date,country_name,new_confirmed,cumulative_confirmed,new_tested,population_x,new_deceased,cumulative_deceased_x,cumulative_persons_vaccinated,new_persons_vaccinated,cumulative_persons_fully_vaccinated,new_persons_fully_vaccinated,population_y,vaccination_rate,population,population_density,cumulative_deceased_y,fatality_rate
0,2020-01-01,Afghanistan,0,0,0,38928341,0,0,0,0,0,0,38928341,0.0,38928341,59.627,0,0.000000
1,2020-01-02,Afghanistan,0,0,0,38928341,0,0,0,0,0,0,38928341,0.0,38928341,59.627,0,0.000000
2,2020-01-03,Afghanistan,0,0,0,38928341,0,0,0,0,0,0,38928341,0.0,38928341,59.627,0,0.000000
3,2020-01-04,Afghanistan,0,0,0,38928341,0,0,0,0,0,0,38928341,0.0,38928341,59.627,0,0.000000
4,2020-01-05,Afghanistan,0,0,0,38928341,0,0,0,0,0,0,38928341,0.0,38928341,59.627,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241799,2022-09-13,Zimbabwe,0,256939,0,14862927,0,5596,0,0,0,0,14862927,0.0,14862927,38.420,5596,0.037651
241800,2022-09-14,Zimbabwe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,0,0,14862927,0.0,14862927,38.420,0,0.000000
241801,2022-09-15,Zimbabwe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,0,0,14862927,0.0,14862927,38.420,0,0.000000
241802,2022-09-16,Zimbabwe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,0,0,14862927,0.0,14862927,38.420,0,0.000000
241803,2022-09-17,Zimbabwe,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,0,0,14862927,0.0,14862927,38.420,0,0.000000

In [145]:
nan_population_density_df = df_5_1[df_5_1['new_confirmed'].isna()]
top_12_names = nan_population_density_df['country_name'].value_counts().head(12).index.tolist()
top_12_names.append('British Indian Ocean Territory')

In [147]:
df_5_1 = df_5_1[~df_5_1['country_name'].isin(top_12_names)]
df_5_1['cumulative_deceased'] = df_5_1['cumulative_deceased_y']
df_5_1 = df_5_1.drop(columns=['population_x', 'population_y','cumulative_deceased_x', 'cumulative_deceased_y'])
df_5_1['new_confirmed'] = df_5_1['new_confirmed'].fillna(0)
df_5_1['new_tested'] = df_5_1['new_tested'].fillna(0)
df_5_1['new_deceased'] = df_5_1['new_deceased'].fillna(0)
df_5_1['cumulative_confirmed'] = df_5_1['cumulative_confirmed'].fillna(0)

In [149]:
df_5_2 = df_4_1[~df_4_1['country_name'].isin(top_12_names)]

In [150]:
df_5_2

,iso_3166_1_alpha_3,country_name,population,population_density,area_sq_km,gdp_usd
0,ABW,Aruba,106766,593.144,180,3056424581
1,BDI,Burundi,11890781,463.037,27830,3012334881
2,CPV,Cape Verde,555988,137.962,4030,1981845740
4,ERI,Eritrea,3546427,35.113,117600,0
5,GIN,Guinea,13132792,53.446,245860,13590281808
...,...,...,...,...,...,...
238,SRB,Serbia,6963764,91.000,88360,51409167350
239,RUS,Russia,145934460,8.911,17098250,1699876578871
240,SYC,Seychelles,98340,213.783,460,1698843062
241,TUV,Tuvalu,11792,393.067,30,47271463
242,VGB,British Virgin Islands,30237,201.580,150,0

zad 6

zad 7